<%- include('partials/header') %>

    <h1> 
        Hola <%= title %>
    </h1>

    <%= new Date() %>

    <% for( let i = 0 ; i < users.length ; i++ ){ %>
        <li><%= users[i].name  %></li> 
    <% } %>

<%- include('partials/footer') %>